:root {
  --white: #ffffff;
  --navyblue: #404bbf;
  --blue: #4d5ae5;
  --titel-color: #2e2f42;
  --gray: #434455;
}
header {
  list-style: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--gray);
  background-color: var(--white);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue);
  text-decoration: none;
}
.logo span {
  color: var(--titel-color);
}
.footer span {
  color: #f4f4fd;
}

.studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--titel-color);
  text-decoration: none;
}
.studio:hover,
.studio:focus {
  color: var(--navyblue);
}
.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
  text-decoration: none;
}

.contact-address {
  font-style: normal;
}
.address:hover,
.address:focus {
  color: var(--navyblue);
}
.section-one {
  background-color: var(--titel-color);
  margin-bottom: 120px;
}
.titel-one {
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--blue);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.section-twoe {
  list-style: none;
}
.titel-twoe {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-color);
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
}
.titel-three {
  width: 323px;
  margin: 0 auto;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--titel-color);
}
.section-three .list ul {
  list-style: none;
}
.section-four {
  background-color: #f4f4fd;
}
.titel-four {
  width: 162px;
  margin: 0 auto;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--titel-color);
}
.list-item {
  background-color: var(--white);
}
.text-four {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-color);
}
.footer {
  background-color: var(--titel-color);
}
.footer-text {
  margin-top: 17.5px;
  width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.button-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--blue);
  background-color: #f4f4fd;
  cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white);
  background-color: var(--navyblue);
}
.titel-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-color);
}
.text-portfolio {
  padding-top: 16px;
  padding-bottom: 56px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
}
/* delete */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* delete */
section {
  padding-top: 60px;
  padding-bottom: 60px;
}
